h1{
	text-align: center;
	color: white;
}
.square{
	transition:background 0.3s;
	width:30%;
	margin:1.66%;
	padding-bottom:30%;
	background: black;
	float: left;
	border-radius:15%;
}
#container{
max-width: 600px;
margin:0 auto;
}
#strip{
	text-align: center;
}
.selected{
	background:steelblue;
}
body{
	background:black;
}
#msg{
	width: 20%;
	display: inline-block;
	color:white;
}
button:hover {
	transition-duration: 0.4s;
	background:steelblue;
}